<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PostgresConnection"
			 connectionString="Host=localhost;Port=5432;Database=gestao_os;Username=postgres;Password=SUA_SENHA"
			 providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<add key="LogPath" value="logs\app.log" />
		<add key="UsuarioAtual" value="sistema" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
</configuration>